
$font-stack: 'Roboto', Helvetica, Arial, sans-serif;
$primary-colour: #fff;
$secondary-colour: #000;

@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
 
  // Output standard non-prefixed declaration
  #{$property}: $value;
}

@mixin text-alt() {
  display: block;
  text-indent: -999em;
  overflow: hidden;
}

@mixin center-content() {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

*, *:before, *:after { box-sizing:  border-box !important; }

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

body {
  font-family: $font-stack;
  font-weight: 300;
  background: $secondary-colour;
  color: $secondary-colour;

  &.detail {

    background: none;

    .slider .introduction h1 {
      background: none;
    }

    main {
      background: #fff;
      padding: 4em 25vw 3em 25vw;
      line-height: 24px;
        h1 {
          text-align: center;
        }
    }

    .introduction {
      background: none;
    }

  }
  

}

img {
  // mask-border: url('../images/sawtoothmask.svg') 30 round;
  // -webkit-mask-box-image: url('../images/sawtoothmask.svg') 20 0 20 0 repeat;
}


a {
  text-decoration: none;
  color: $secondary-colour;

  @include prefix(transition, color 0.2s linear, webkit ms o moz);

  &.twitter, &.facebook, &.whatsapp, &.vimeo, &.home {
    @include text-alt;
  }

  &.home {
    background: url("../images/mark.svg") no-repeat;
    width: 2em;
    height: 2em;
    background-size: 2em;
    display: inline-block;
  }

  &.twitter {
    background: url("../images/twitter.svg") no-repeat;
    width: 2em;
    height: 2em;
    background-size: 1.5em;
    position: absolute;
    right: 10px;
    top: 12px;
  }

  &.vimeo {
    background: url("../images/vimeo_icon_dark.svg") no-repeat;
    width: 2em;
    height: 2em;
    background-size: 1.5em;
    position: absolute;
    right: 2.5em;
    top: 12px;
  }

  &.facebook {
    background: url("../images/facebook.svg") no-repeat;
    width: 2em;
    height: 2em;
    background-size: 1.5em;
  }

  &.whatsapp {
    background: url("../images/whatsapp.svg") no-repeat;
    width: 5em;
    height: 5em;
    margin: -1.3em 0 0 -1.3em;
  }
  
}

a:hover {
  color: red;
}

h2 {
  font-weight: bold;
  font-size: 2.8em;
  text-shadow: 1px 1px 21px rgba(0, 0, 0, 0.5);
  animation-duration: 2s;
  animation-fill-mode: both;
  opacity: 0;
}

.fadeInDown {
  animation-name: fadeInDown;
}

@keyframes fadeInDown {
   0% {
      opacity: 0;
      transform: translateY(-20px);
   }
   100% {
      opacity: 1;
      transform: translateY(0);
   }
}   

nav {
  position: fixed;
  z-index: 999;
  width: 100%;

  span {
    position: absolute;
    z-index: 998;
    // box-shadow: 0px 1px 1px $secondary-colour;
    display: block;
    width: 100%;
    height: 3em;
    background-color: $secondary-colour;
    opacity: 0;
  }

  a {
    position: relative;
    z-index: 999;
    color: $primary-colour;
    padding: 0.8em 1em 0 1em;
    display: inline-block;
    width: auto;
    // background: url('../images/hamburger.svg') no-repeat;
    // margin: 10px 0 0 20px;
  }
}


.slider {
  position: fixed;
  overflow: hidden;
  width:100vw;
  height:100vh;
  max-height:100vh;
  text-align:center;

  .introduction {
    position: absolute;
    z-index: 999;
    width: 100%;
    height: auto;
    color: $primary-colour;

    h1 {
      background: url("../images/logo.svg") no-repeat -142px 0;
      background-size: 500px 100px;
      height: 100px;
      width: 220px;
      @include center-content;
      top: 40vh;
      @include text-alt;
    }

    h2 {
      background: url("../images/bbc.svg") no-repeat;
      background-size: 500px 100px;
      width: 500px;
      height: 100px;
      float: right;
      @include text-alt;
    }

  } 

}

.videoContainer 
{
  
  overflow: hidden;
  background: #2C2C2A;
  position:absolute;
  height:100%;
  width:200%;
  left:-50%;

  video {
    position:absolute;
    top: -99999px;
    bottom: -99999px;
    left: -99999px;
    right: -99999px;
    margin: auto;
    min-height:100%;
    min-width:50%;
  }

  .IIV::-webkit-media-controls-play-button,
  .IIV::-webkit-media-controls-start-playback-button {
    opacity: 0;
    pointer-events: none;
    width: 5px;
  }
 
}



main {
  background: none;
  position: absolute;
  z-index: 998;
  top: 100vh;
  width: 100%;

  &.detail {

    padding: 0;

    article {
      box-shadow: none;
      margin: 0;
      border: none;
    }

  }

  em {
      font-size: 0.9em;
  }

  article {
    width: 100%;
    height: 100%;
    position: relative;

    header, footer {
      z-index: 999;
      color: $primary-colour;
      width: 100%;
      @include center-content;
    }

    footer {
      width: 100%;
      p {
        float: left;
      }
      ul {
        width: 50%;
        float: right;
        list-style: none;
        li {
          float: left;
          margin: 0.1em;
        }
      }
    }

    &.award {
      background: rgba(70, 50, 255, 1);
      color: $primary-colour;
    }

    img {
    width: 100%;
    height: auto;
    vertical-align: bottom;
    }
  }

  .b-lazy {
      -webkit-transition: opacity 500ms ease-in-out;
         -moz-transition: opacity 500ms ease-in-out;
           -o-transition: opacity 500ms ease-in-out;
              transition: opacity 500ms ease-in-out;
               max-width: 100%;
                 opacity: 0;
  }
  .b-lazy.b-loaded {
                 opacity: 1;
  }

}